body {
    background: url("/static/img/back_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.right-menu {
    float: right;
}

.container {
    max-width: 1000px !important;
}

.card-margin {
    margin-top: 42px;
}

.green {
    background: #1b7a72;
    border-color: #1b7a72;
}

.card-padding {
    padding-top: 15px;
}

.small-text {
    font-size: 13px;
}